* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 60rem;
  font-size: 62.5%;
}

/* Título de la web */
.title__container {
  margin: 3rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  font-style: italic;
}

/* Barra de navegación */
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color:#fbfbdc;
  height: 150px;
  font-size: 1.25rem;
  font-weight: bolder;
  color: #57825c;
}

.navbar img {
  width: 130px;
}

.dropdown-item {
  font-size: 1.25rem;
}

/* Spinne */
.spinner{
  position: relative;
}

.spinner-border {
  position: absolute;
  z-index: 1031;
  top: 50%;
  right: 50%;
}

/* Imágenes */
img {
  border-radius: 1rem;
}

/* Catálogo de productos */
.card__style__products {
  padding: 20px;
  width: 25rem;
}

.card__style__products .card-title {
  font-size: 1.5rem;
}

.card__style__products div {
  font-size: 1.25rem;
}

.card__style__products a {
  font-size: 1.2rem;
}

/* Detalles de productos */
.card__style__detail {
  padding: 20px;
  width: 30rem;
}

.card__style__detail .card-title {
  font-size: 1.5rem;
}

.card__style__detail div {
  font-size: 1.25rem;
}

.card__style__detail .btn {
  font-size: 1.2rem;
  text-align: center;
}

/* Carrito de compras */
.card__style__cart {
  padding: 20px;
  width: 30rem;
}

.card__style__cart .card-title {
  font-size: 1.5rem;
}

.card__style__cart div {
  font-size: 1.25rem;
}

.card__style__cart .btn {
  font-size: 1.2rem;
  text-align: center;
}

/* Detalles de la compra */
.card__style__purchase {
  padding: 20px;
  width: 30rem;
}

.card__style__purchase .card-title {
  font-size: 2rem;
  text-align: center;
}

.card__style__purchase div {
  font-size: 1.5rem;
  text-align: center;
}

/* Precio total */
.priceContainer {
  margin: 30px;
}

.priceContainer h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px;
}

/* Subtítulos */
.subTitle {
  padding: 20px;
  text-align: center;
  font-size: 2.5rem;
}

/* Formulario */
#myForm{
  font-size: 1.25rem;
}

#myForm label{
  margin-top: 1rem;
}

#myForm input{
  font-size: 1.25rem;
}